

/*
	Example Styling for Useful Functions
*/
.useful-tests {
	dt {
		font-weight : bold;
		display : block;
		margin : 0;
		padding : 0;
	}
	dd {
		display : block;
		margin : 0 0 1.3em 0;
		padding : 0;
	}
}
#position-test {
	border : solid 1px #333;
	height : 64px;
	line-height : 2;
	margin-bottom : 1em;
	overflow-y : scroll;
	padding : 1em;
	width : auto;
}
